.dog-card {
    background-color: white;
    width: 330px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.423);
    margin-top: 2rem;
    border-radius: 1rem;
}

.dog-card__txt {
    width: 115px;
    height: 150px;
    position: relative;
    left: 12rem;
    bottom: 1.5rem;
}

.greydhound {
    font-size: 1.2rem;
}

.dog-card__p {
    font-size: 0.8rem;
}